 *{
  box-sizing: border-box;
  
  margin: 0; 
   padding: 0;

   font: inherit;
   
   
   
  
  
}

body{
  background-color: #272932;
  min-height: 100vh;
  
  
 
}
.nav{
  background-color: #353543;
  display: flex;
  
    min-width: 100%;
  
 min-height: 50%;
 
 
 
 
 
 
}
.home{
  list-style: none;
  display: flex;
  padding: 0 10rem;
  gap: 8rem;
  
    max-inline-size: 1200px;
   margin-inline: auto; 

  color:#A3A5B2 ;
 
  }
  
.hanzala{
  padding: 0.2rem 0;
  color: whitesmoke;
}


   .home:hover{
     scale: 1.1;
   }
   .nav span{
    font-weight: 500;
    color: #A3A5B2;
    padding-top: -0.2rem;
    
    
   }
   .nav a{

    color: white;
    text-decoration: none;
    z-index: 1;
    padding: 0.2rem;

  }
  .navlinkedin:hover{
    scale: 1.1;
  }
  .impact{
    background-color: #353543;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    min-height: 50vh;
    min-width: 100%;
    
    
    
    
    
    

  }
  .skills{
    color: #A3A5B2;
   width:  28rem;
   font-size: 22px;
   
   
  
  }
    .im{
     color: #A3A5B2;
     font-size: 80px;
          
    }
     hr{
     width: 9rem;
          border: 2px solid #DEA720;
          
    }
      
.hanzalah{
  color: white;
  font-size: 80px;
      
 }
 .about{
  padding: 5rem 1rem;
  margin-top: -22rem;
  display: flex;
  flex-direction: column;
  max-inline-size: 1225px;
  margin-inline: auto;
  width: 100%;
  
  
  
  
  
  
 }
  img,.meta,.google,.linkedin,.marketing,.dev{ 
  max-inline-size: 100%;
  height: auto;
  display: block;
  }
  img{
    margin-top: -26rem;
    display: block;
    max-inline-size: 100%;
    padding-left: 5rem !important;
    z-index: 1;
    object-fit: contain;
    margin-left: 15rem;
    
    
  }
  .huge{
    
    
    
    width: clamp(10rem,20rem,30rem);
    height: clamp(10rem,20rem,30rem);
    border-radius: clamp(10rem,20rem,30rem);
    background-color: #2D2D39;
    
    margin-left: 26.5rem;
    margin-top: 8rem;

  
    
    
  }
   .services{
    
  margin-top: -26rem;
  margin-left: 50rem;
  
    
    
    z-index: 2;
    
    
  } 
  .logo{
    margin-left: 50rem;
    color: #DEA720;
    display: flex;
  }
  .service{
    color: white;
          opacity: 0.6;
          font-size: 32px;
            
          }
     .build{
     color:white;
          opacity: 0.75;
          font-size: 2rem;
          width: fit-content;
          
          }
    .show{
            text-decoration: none;
            color: #DEA720;
            
          }
          .arrow{
            max-width: 100%;
            display: block;
            margin-left: 4.5rem;
            margin-top: -1.1rem;
          }
          .second{
            
           background-color:#4e4e64;
           min-height: 22vh;
           width: 80%;
           
           
           
           margin: -5.3rem 5rem;
           z-index: 5;
           display: block;
           max-inline-size: 1225px;
  margin-inline: auto;

           
            
          }
          .icon{
            display: flex; 
            justify-content: space-between; 
            align-items: center; 
            gap: 1rem; 
            padding: 1rem;

          }
          
          .m,.g,.ld{
            
            background-color: #272932;
            
            height: 15%;
            width: 10%;
            
            
            
          }
          
          .meta,.google,.linkedin{
           
           max-width: 13vw; 
           text-align: center;
           
           object-fit: contain; 
           margin: 11px ;
           margin-left: -70px;
          }



          
         
          .projects{
            color: white;
            
            
          }
          
          
          .digital{
            height: 2.8vh;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
      margin: 20rem 5rem;
     
      margin-left: 73vw;
      border-bottom: 1px solid white;
      width: 25%;
      
      

    
    
          }
          .web{
            height: 0.1vh;
            gap: 0.3rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: 22rem 5rem;
            border-bottom: 1px solid white;
            width: 25%;
            margin-left: 73vw;
            margin-top: -10rem;
          }
          .marketing{
            display: block;
             height: 50vh;
           width: 12vw; 
            
            margin: -10rem 13rem;
            
          }
          .dev{
            display: block;
            height: 52.5vh;
            width: 14vw;
            
            margin: -11rem 12.5rem;
          }
          .achievement{
            color: white;
            margin-top: -550px;
            margin-left: 100px;
            display: flex;
            flex-direction: column;
            
            
               
              }
              .achievement p{
                width: 150px;
                color:#797A83;
                flex-wrap: wrap;
                
               }
               .needs{
                font-size: 42px;
               }
               .requirement{
                font-size: 42px;
               }
               .past{
                display: flex;
                line-height: 3rem;
                gap: 0.5rem;
               }
               .extranumbers{
                display: flex;
                gap: 0.8rem;
               }
               .past h4,.extranumbers h4 {
                color: #DEA720;
               }
               
            .bottom{
                
                display: flex;
                gap: 3vw;
                padding: 0 8vw;
                flex-wrap: wrap;
             }
             .webdevelopment{
              background-color: #3C3C4A;
              padding: 2vw 3vw;
             max-width: 50%;
             min-height: 40vh;
              line-height: 1.5rem;
              flex-wrap: wrap;
              
             }
             .symbol{
              color: #DEA720;
             }
             .bottom h4{
              color: #E4E6F5;
             }
             .bottom p{
              color: #797A83;
              width: 150px;
             }
             .bottom .bottomarrow{
              color: #DEA720;
              
              
             }
             .bottom .showmore{
              color: white;
             }
             .bottom .digitalmarketing{
              max-width: 50%;
             min-height: 40vh;
              background-color: #3C3C4A;
              text-align: left;
              padding: 2.8vw 3vw;
              flex-wrap: wrap;
            }
            .container{
              background-color: #343643;
              display: flex;
             min-height: 40vh;
              justify-content: space-between;
              color: #A3A5B2;
              margin-top: 40px;
              width: 100%;
              
              
              
              
             }
             .contact{
              flex-wrap: wrap;
             }
             .container h3{
              color: white;
             }
             .facebook {
              color: #DEA720;
             }
             .texla {
              color: #DEA720;
              margin-left: 2vw;
              margin-top: -1.2vw;
             }
             .instagram {
              color: #DEA720;
              margin-left: 4vw;
              margin-top: -1.3vw;
             }
            
             .container ul{
              list-style: none;
              line-height: 2.5vw;
              color: #A3A5B2;
              
             }
             .footernav li{
              margin-left: 0.1vw;
              
             }
             .column li{
              margin-left: 0.1vw;
             }
             .information li{
              margin-left: 0.3vw;
             }
             .contact li{
              margin-left: -3vw;
             } 
             @media (max-width:1088px){
              .services{
               
               overflow: hidden;
              }
              .build{
                font-size: 22px;
              }
              
         .nav{
           overflow: hidden;
         }
         .nav span{
               
                 
           margin-left: -4rem;
           
          }
          .nav a{
       
           
           padding-left: -2.2rem;
           
         }
         
         .second{
           width: 80%;
         }
       
             }
             
            
            

             @media (max-width: 1024px){
              
                .achievement p{
                  width: 350px;
                }
                
                
             .services{
              padding-left: 14rem;
              width: 70%;
              
             }
              .service{
                
                font-size: 72px;
              }
              .logo{
                padding-left: 14rem;
              }
              .build{
                font-size: 36px;
                width: 60rem;
                flex-wrap: wrap;
                overflow-x: hidden;
              
              
          
              
               
                
              }
              
              .about img{
              
                z-index: 1;
                object-fit: contain;
               max-width: 100%;
              margin-left: 22rem;
                
              }
              .nav{
                width: 165%;
                overflow-x: hidden;
                
                
                
                
  
              }
              
          
              .impact{
                min-height: 44vh;
                 width: 165%;
                 
                 
               
                   
               }
               .huge{
                 margin-left: -139.5rem;
                   margin-top: 8rem; 
                   
                }  
                .about{
                  margin-top: -24rem;
                  
                  
                  
                  
                  }
                  .experties{
                    font-size: 22px;
                    width: 290rem;
                  }
                  .second{
                    margin: -11rem 7rem;
                    width: 120%;
                    }
                    .container{
                      min-height: 20vh;
                      width: 165%;
                      margin-top: 120px;
                                   
                     }
                     .bottom{
                      padding: 10vw 8vw;
                       }
                       .digital{
                       
                 
                  margin-left: 113vw;
                  
                    
        width: 28%;
        
        
         
                  
}
                      .web{
                         margin-left: 113vw;
                          
        width: 28%;
                          }
                          .home{
                            margin-inline: 75px; 
                            }
                         .meta,.google,.linkedin{
           
                              max-width: 22vw; 
                              
                              
                              margin-left: -86px;
                             }
                             .marketing{
                              
                             width: 16vw; 
                              
                             
                            }
                            .dev{
                              
                              width: 17vw;
                              
                             
                            }
                                            
                                                              
                    
                                   
                                 
                               
                               
             }


             @media (max-width: 930px){
             
            .impact{
              width: 170%;
            overflow-x:clip ;
            }
            .nav{
              width: 170%;
            overflow-x:clip ;
            }
            .service{
              font-size: 68px;
            }
            .build{
              font-size: 36px;
              width: 50rem;
              
            }
            .services{
              width: fit-content;
            }
           
             
          
             
              
                              
              
          
             }
              @media (max-width: 864px){
              
                .nav{
                  width: 182%;
                  overflow-x: clip;
                }
                .bottom .digitalmarketing{
                  line-height: 1.24;
                   }
                                              
                  .impact{
                    width: 182%;
                    overflow-x: clip;
                  }
                  .marketing{
                              
                    width: 20vw; 
                     
                    
                   }
                   .dev{
                     
                     width: 21vw;
                     
                    
                   }
                   .digital{
                       width: 38%;
   }
                        .web{
                          width: 38%;
                            }
                            .build{
                              width: fit-content;
                            
                              
                            }
                            
                            .services{
                              width: 50rem;
                            }
                            .second{
                            margin-left: 15rem;
                            }
                            .container{
                              width: 181%;
                            }
                
                             
          
          
             
              
                              
               
          
             }


             @media (max-width: 768px){
              .logo{
                padding-left: 9rem;
              }
                .nav{
                  width: 200%;
                  overflow-x: clip;
                }
               
                  .impact{
                    width: 200%;
                    overflow-x: clip;
                  }
                  .services{
                width: fit-content;
                padding-left: 9rem;
                
                  }
                  .service{
                    font-size: 36px;
                  }
                  .build{
                    width: 30rem;
                    font-size: 40px;
                    
                  }
                  .meta,.google,.linkedin{
           
                    
                    
                    
                    margin-left: -80px;
                   }
                  
                  }
                  /* @media (max-width: 568px){
              
                    .nav{
                      width: 185%;
                    }
                   
                      .impact{
                        width: 185%;
                      }
                      .services{
    
                        margin-top: -24rem;
                        }
                        .about{
                          padding: 5rem 10rem;
                        }
                        .second{
                          margin: -11rem 10rem;
                          width: 120%;
                          }
                          .meta,.google,.linkedin{
           
                            max-width: 50vw; 
                            
                            
                            margin-left: -84px;
                           }
                           .m,.g,.ld{
            
                          
                            width: 30%;
                            }
                            .marketing{
                              
                              width: 25vw; 
                               
                              
                             }
                             .dev{
                               
                               width: 26vw;
                               
                              
                             }
                             .digital{
                                 width: 48%;
             }
                                  .web{
                                    width: 48%;
                                      }
                                      .bottom{
                
                                        padding: 10vw 15vw;
                                        }
                                        .container{
                                          width: 183%;
                                        }
                                                                                                        

                                                
                      }
                      @media (max-width: 524px){
              
                        .nav{
                          width: 195%;
                        }
                       
                          .impact{
                            width: 195%;
                          }
                          .container{
                            width: 193%;
                          }
                                      }
                                      */
@media (max-width: 678px){

.about img{
  margin-left: 18rem;
                  
 }
 .nav a,.nav span{
  width: fit-content;
 }
  
.build{
  width: fit-content;
  font-size: 28px;
}
.container{
  width: 200%;
}
.nav{
  width: 200%;
  overflow-x: clip;
}

  .impact{
    width: 200%;
    overflow-x: clip;
  }


 }   
 @media (max-width: 570px){
  .about img{
    margin-left: 10rem;
                    
   }
  .nav span{
        
          
  padding-left: 20rem;
    
   }
   
   .im{
    font-size: 50px;
   }
   .hanzalah{
    font-size: 50px;
   }
   .nav a{

    
    display: none;
    
  }
 .nav li{
    display: none;
  }
  .nav{
    flex-wrap: wrap;
  }
  .marketing{
                              
    width: 35vw; 
     
    
   }
   .dev{
     
     width: 36vw;
     
    
   }
   .digital{
       width: 68%;
}
        .web{
          width: 68%;
            }
           .achievement{
            margin-top: -40rem;
           }
           .bottom{
            margin-left: 2.9rem;
           }
           .build{
            font-size: 20px;
           }
           .services{
            padding-left: 1rem;
           }
           .logo{
            padding-left: 1rem;
           }
           .second{
           margin-left: 4rem;
            width: 180%;
           }
           
           .meta,.google,.linkedin{
           
            max-width: 50vw; 
            
            
            margin-left: -25px;
           }
           .m,.g,.ld{

          
            width: 30%;
            }
            .skills{
               width:  20rem;
            font-size: 20px;
            }
           
 }
 @media (min-width: 1468px){
  .webdevelopment{
    min-height: 20vh;
      }
    .bottom .digitalmarketing{
     min-height: 20vh;
     }
      .container{
       min-height: 20vh;
      }
  
  .achievement{
 width: 22rem;
  }
.achievement .experties{
  font-size: 28px;
   width: 450px;
   
    }
  .second{
    min-height: 12vh;
    }
    .impact{
     
      min-height: 35vh;
     
      
      
      }
      .huge{
        position: relative;
        left: -38rem;
       
      }
      .nav{
       font-size: 28px;
        padding-top: 2rem;
      }
     
      hr{
        width: 9rem;
        border: 3px solid #DEA720;
    }
           
      .im{
        font-size: 95px;
      }
      .hanzalah{
        font-size: 95px;
        z-index: 1;
      }
      .skills{
        width: 28rem;
        font-size: 22px;
      }
      .about{
        margin-left: -13rem;
      }
      
      
        .meta,.google,.linkedin{
           
          max-width: 10vw; 
          
          
          margin-left: -84px;
         }
         .dev{
          width: 10vw;
         }
         .marketing{
          width: 9vw;
         }
         .digital{
          width: 16%;
         }
         .web{
          width: 16%;
         }
         .bottom{
                
          display: flex;
          gap: 3vw;
          padding: 5vw 4vw;
          flex-wrap: wrap;
       }
       img{
        position: relative;
        margin-left: 20rem;
        margin-top: -29rem;
        
       }
       .services{
        margin-left: 55rem;
        margin-top: -28rem;
       }
       .logo{
        
        margin-left: 55rem !important;
        width: 10%;
        
       }
       .service{
        font-size: 45px;
       }
       .build{
        font-size: 36px;
        white-space: nowrap;
       }
       .show{
        font-size: 28px;
        white-space: nowrap;
        
      }
     .second{
      margin-top: -12rem;
     }
         
      
         

  }
  
    @media (max-width: 406px){
      
    .nav{
      width: 265%;
      
    }
    
   
      .impact{
       width: 265%;
      
      }
      .second{
    margin-top: 80rem;
       
      }
      .hanzalah{
        transform: scale(0.7);
        margin-left: -3.8rem;
        
        
      }
      .skills{
       transform: scale(0.7);
       margin-left: -4rem;
      
       
       
      
      }
     
     
      
      
     } 
     @media (max-width: 340px){
      .hanzalah{
       margin-left: -2.9rem;
        white-space: nowrap;
      }
      .meta,.google,.linkedin{
           
        
           
          min-width: 45vw; 
          transform: translateX(-1.3rem);
          
         

          
        
        }
        .build{
          transform: scale(0.7);
          margin-left: -5.5rem;
          
          
        }
        .achievement h1{
          
          transform: scale(0.7);
          margin-left: -5rem;
        }
        .achievement .experties{
          transform: scale(0.7);
          margin-left: -4rem;
        }
        .past{
          display: flex;
          flex-direction: column;
          line-height: 0.8;
          
         }
         .extranumbers{
          display: flex;
          flex-direction: column;
          line-height: 0.;
         }
         .digital{
         transform: translate(0rem,20rem)
          }
         .web{
         margin-left: 5vw;
         
                     margin-top: 20rem;
                     width:100%;
                     height: 0vh;
                     
          }
           .marketing{
           
            
            position: relative;
            left: 4rem;
            
              
                  
                   }
          .dev{
            transform: scale(1.5);
            position: relative;
            left: 4rem;
                    
                    
                   }  
                                
                          
         
      
     }

     @media (max-width: 294px){
      .build{
                transform: scale(0.7);
                margin-left: -5.5rem;
                
                
              }
              .services{
                margin-top: -18rem;
              }
              .hanzalah{
                transform: scale(0.5);
                margin-left: -4.8rem;
                
                
              }
              .skills{
               transform: scale(0.5);
               margin-left: -7rem;
              
               
               
              
              }
      }
     
    @media (max-width: 468px){
      *{
        padding: 0;
        margin: 0;
        
      }
      html,body{
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        overflow-x: hidden;
      }
      .nav{
        width: 140%;
        }
        .home{
          display: none;
        }
        .about{
          width: 34%;
        }
       
       
            
      .impact{
        margin-left: 0.1rem;
        
        margin-top: -6rem;
        width: 275%;
        min-height: 150vh;
      }
      .about img{
        margin-top: 10rem;
       
        transform: translate(-12rem,10rem);
        
        
      }
      .services{
     
     transform: translate(-46rem,5rem);
     width: 90rem;
        } 
        .logo{
          margin-left: -0.3rem;
          
        }
        .skills{
          font-size: 20px;
         width:  28rem;
        }
        .huge{
          margin-left: 30.5rem;
             margin-top: 8rem;
           }
           .second{
            min-height: 8vh;
                       width: 95%;
            margin: -12.5rem 0.5rem;
             }
             .meta,.google,.linkedin{
           
              max-width: 30vw; 
              margin-left: -3rem;
             
    
              }
              .container{
                margin-top: -20rem;
                width: 150%;
                flex-wrap: wrap;
                min-height: 75vh;
                 }
                 .information li{
                  margin-left: -108.3vw;
                 }
                 .information h3{
                  margin-left: -108.3vw;
                 }
                 .contact{
                  flex-wrap: wrap;
                 }
                 .container ul{
                  line-height: 5.5vw;
                              }
                             .bottom{
                              margin: 190vw 0;
                             }
                              .webdevelopment{
                                
                               max-width: 100%;
                                            min-height: 20vh;
                                            margin: 2vw 0;
                                          }
                               .bottom .digitalmarketing{
                                             max-width: 100%;
                                            min-height: 20vh;
                               
                                margin:2vw 0;
                                }
                                .achievement{
                                  margin-top: -150px;
                                              margin-left: 20px;
                                              width: 22rem;
                                  }
                                  .hanzalah{
                                    font-size: 56px;
                                  }
                                  .im{
                                    font-size: 56px;
                                  }
                                 
                                  .build{
                                    width:36rem ;
                                    font-size: 26px;
                                  }
                                  .service{
                                    font-size: 32px;
                                  }
                                  .nav{
                                    font-size: 32px;
                                  }
                                  .material-symbols-outlined{
                                   
                                    position: relative;
                                    left: -38rem;
                                    top: -0.5rem;
                                    font-weight:bold !important;

                                     
                                       }
                                       .achievement{
                                        margin-top: -70rem;
                                       }
                                       .achievement p{
                                        width: 350px;
                                      }
                                      .digital{
                                        margin: 70rem 5rem;
                                            
                                        margin-left: 5vw;
                                        width: 90%;
                                        }
                                       .web{
                                       margin-left: 5vw;
                                       
                                                   margin-top: -60rem;
                                                   width: 90%;
                                                   
                                        }
                                         .marketing{
                                         
                                          transform: scale(1.5);
                                          margin:-10.5rem 19.4rem ;
                                          
                                            
                                                
                                                 }
                                        .dev{
                                          transform: scale(1.5);
                                          margin:-10.5rem 19.4rem ;
                                                  
                                                  
                                                 }  
                                                              
                                                        
                        
                      
                  
      }
      @media (width > 1468px){
        .about{
          margin-left: 1rem;
        }
        html,body{
          overflow-x: hidden;
        }
        .huge{
         position: relative;
         left: 40rem;
         
          
        }
        .home{
          gap: 12rem;
        }
        img{
          margin-left: 33rem;
        }
        .im{
          font-size: 122px;
        }
        .hanzalah{
          font-size: 122px;
        }
        .skills{
          width: 58rem;
          
        }
        .services{
          margin-left: 70rem;
        }
        
        .arrow{
          margin-left: 8rem;
          margin-top: -1.8rem;
        }
        .service{
          font-size: 58px;
        }
        .build{
          font-size: 58px;
          
        }
        .nav span{
        
          
          padding-left: 18rem;
          
         }
         .nav a{
      
          
          padding-left: 2.2rem;
          
        }
      }
      @media (width> 2200px){
        .build{
          font-size: 80px;
          

        }
        img{
          margin-left: 33rem;
        }
        .second{
          margin-left: 24rem;
          width: 250%;
        }
        
        
      
        

      }
      @media (max-width:1335px){
        
       
        .second{
          margin-top: 0rem;
         
        }
        .about{
          margin-left: -0.5rem;

        }
        img{
          margin-left: 16rem;
        }
        .services{
          margin-left: 45rem;
        }
        .logo{
          margin-left: 45rem;
        }
       
        
        
      }
     